* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all .2s linear;
}

a {
    text-decoration: none;
}

/* Header inicio*/
header {
    width: 100%;
    background-color: #7c1d0e;
}

.textohead {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    color:white;
}

.textohead:hover {
    color: black;
}

/* Header fin*/

/*----------------------------------------------- nav--------------------------------------------- */

.navpropio {
    display: flex;
    min-height: 75px;
    align-items: RIGHT;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 1%;
    padding-right: 5%;
    font-weight: bold;
    background-color: #4b0408;
}

.nav-item {
    margin: 10px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 247, 170, 1.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar a {
    color: white;
    font-weight: 600;
    padding-right: 10px;
}




/*------------------------------------------- nav fin-------------------------------------------*/

/*------------------------------------------- MAIN index-------------------------------------------*/

.box {
    background-color: brown;
    margin-bottom: 40px;
    border-radius: 5%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.primera {
    text-align: center;
}

img {
    margin: 10px;
}


.bodyindex {
    text-align: center;
    font-family: sans-serif;
    background-color: #4B1A12;
}


.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../multimedia/img/prueba.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 50px;
}

.title {
    margin-bottom: 40px;
    color: black;
    margin-top: 20px;
}

.title2 {
    margin-bottom: 40px;
    color: white;
    margin-top: 20px;
}

.title3 {
    margin-bottom: 40px;
    font-size: 40px;
    color: white;
    margin-top: 20px;
}

.bodyindex p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    padding: 0 100px;
}

.productos h3 {
    color: #171717;
}


.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e91e63;
    color: white;
    text-decoration: none;
    background-color: #e91e63;
}

.btn:hover {
    background: none;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}


.colum .box img {
    margin: 10px 5px 5px 10px;

}


.carrusel {
    background-color: #5a231b;
    text-align: center;
}
.titulo-carrusel{
    color: white;
    font-size: 40px;
}

@media (max-width: 768px) {
    .p {
        padding: 0 50px;
    }

    .title {
        margin-top: 0;
        font-size: 40px;
    }

    .title2 {
        margin-top: 0;
        font-size: 40px;
    }

    .title3 {
        margin-top: 0;
        font-size: 40px;
    }

    .sau {

        padding: 50px;
    }
}



/*------------------------------------------- MAIN fin-------------------------------------------*/

/* -----------------------------------------------Footer---------------------------------------*/
.footerspace {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    background-color: #4b0408;
}

footer h3 {
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ca1b27;
    display: inline-block;
    padding-bottom: 5px;
    color: whitesmoke;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links li {
    margin-bottom: 10px;
    color: whitesmoke;
}

.footer-links a:hover {
    color: #ca1b27;
    padding-left: 6px;
}

.footerspace a {
    font-weight: bold;
    color: whitesmoke;
    transition: all .3s ease;
}

.footerForm {
    text-align: center;
}

form {
    padding: 5px 5px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    background-color: #4b0408;
    flex-direction: column;
}

.form-text {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    background-color: #631b1f;
    padding: 10px 14px;
    margin-bottom: 10px;
    border: 0;

    font-size: 15px;
    color: white;
}

::placeholder {
    color: beige;
    font-size: 15px;
}

:focus {
    outline: 1px solid #ca1b27
}

.btn {
    background-color: #631b1f;
    color: beige;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ca1b27;
}

/* ---------------------------FOOTER FIN------------------------------*/

@media (max-width:850px) {
    .navbar {
        flex-direction: column;
    }

    .navbar_items {
        padding: 10px 20px;
    }

}

.form {
    width: 100%;
}


@media (max-width: 1010px) {
    .form {
        width: 100%;
    }

    .footerspace {
        flex-direction: column;
    }
}




/*------------------------------- Productos----------------------------------------------*/
 

.hombremain h1, .subtitulo-niño{
    text-align: center;
    margin-top: 25px;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }

.container .filahombre{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 
 .container .filahombre .columhombre{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
    border-radius: 10%;
 }
 
 .container .filahombre .columhombre:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .container .filahombre .columhombre img{
    height: 25rem;
 }
 
 .container .filahombre .columhombre:hover img{
    transform: scale(.9);
 }





/* */



/* NOSOTROS */
.nosotros-main {
    background-color: #a55c61; 
}
.nosotros-main h1 {
    margin-top: 50px;
}

.nosotros-main .row {
    padding: 50px;
}
img {
    max-width: 100%;
}